<h1><%= @project.name %></h1>

<h2>My project info</h2>
<p>
    <b>Description:</b> <%= @project.description %> <br />
    <b>Funding Goal:</b> $<%= @project.funding_goal %> <br />
    <b>Deadline:</b> <%= @project.deadline %> <br /><br />
    <h2>Rewards:</h2>
    <% @project.rewards.each do |x| %>
    	<b><%= x.name %></b><br />
    	<%= x.description %><br />
    	<%= x.amount %><br />
    	<%= x.backer_limit %><br /><br />
    <% end %>

    <% if current_user %>
        <%= link_to 'edit', edit_project_path %> 
    <% end %>
</p>